SITE = "localhost:8010"
static_path = "static/"
DATABASE = {
    'database': 'test',
    'host':     'localhost',
    'user':     'root',
    'password': 'PASS',
}
baidu_key = 'B191d4e9d6d44492d34150a81718ca1c'
